
.input-custom {
    background-color: white;
    border-bottom: 0px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 4px 3%;
    color: #333;
    font-size: 14px;
    width: 94%
}
.input-custom:focus {
    background-color: white;
    border-bottom: 1px solid #999 !important;
    box-shadow: none !important;
}

.navbar {
    background-color: #E74111;
}
.banner {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 500px;

    input[type=text] {
        background-color: white;
        border-bottom: 0px;
        border-radius: 4px;
        padding: 8px 3%;
        width: 94%
    }
    input[type=text]:focus {
        background-color: white;
        border-bottom: 0px !important;
        box-shadow: none !important;
    }
}

.btn {
    padding: 8px 30px;
    font-size: 14px;
}
.btn-theme {
    background-color: #FFD302;
    //box-shadow: none;
    color: #E74111 !important;
    font-weight: 600 !important;
}

.card {
    margin-bottom: 16px;
    .view {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 250px;
    }
    .card-title {
        margin-bottom: 8px;
    }
    .card-text {
        margin-top: 12px;
    }
    .card-text-small {
        font-size: 13px;
        color: #666;
        margin: 2px 0;
    }
}

// LIGHT BOX

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1030;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
